{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'supplements/style.css' %}">
    <title>Protein Powders Ranking</title>
</head>
<body>
    <header class="header">
        <h1>Whey Protein Ranking</h1>
        <p>Sorted by best price per kg</p>
    </header>
    <main class="container">
        {% for key, value in protein_powders.items %}
            <section class="protein-type">
                <h2>{{ value.0 }}</h2>
                <div class="protein-list">
                    {% for protein_powder_pair in value.1 %}
                        <article class="supplement-card" onclick="location.href='{% url 'supplements:detail' protein_powder_pair.0.id %}'">
                            <div class="rank">{{ forloop.counter }}</div>
                            <img src="{{ protein_powder_pair.0.image.url }}" alt="{{ protein_powder_pair.0.name }}" class="supplement-image">
                            <div class="supplement-info">
                                <h3 class="brand-name">{{ protein_powder_pair.0.brand.name }}</h3>
                                <p class="product-name">{{ protein_powder_pair.0.name }}</p>
                            </div>
                            <div class="price-weight-info">
                                <div class="info-item price">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-badge-euro">
                                    <path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"/>
                                    <path d="M7 12h5"/>
                                    <path d="M15 9.4a4 4 0 1 0 0 5.2"/>
                                  </svg>
                                    {% if protein_powder_pair.1 %}
                                        <p>{{ protein_powder_pair.0.formatted_price }} - {{ protein_powder_pair.1.formatted_price }}</p>
                                    {% else %}
                                        <p>{{ protein_powder_pair.0.formatted_price }}</p>
                                    {% endif %}
                                </div>
                                <div class="info-item weight">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-weight">
                                    <circle cx="12" cy="5" r="3"/>
                                    <path d="M6.5 8a2 2 0 0 0-1.905 1.46L2.1 18.5A2 2 0 0 0 4 21h16a2 2 0 0 0 1.925-2.54L19.4 9.5A2 2 0 0 0 17.48 8Z"/>
                                  </svg>
                                    {% if protein_powder_pair.1 %}
                                        <p>{{ protein_powder_pair.0.formatted_weight }} - {{ protein_powder_pair.1.formatted_weight }}</p>
                                    {% else %}
                                        <p>{{ protein_powder_pair.0.formatted_weight }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </article>
                    {% empty %}
                        <p class="no-products">No {{ value.0 }} Protein Powders Available</p>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    </main>
</body>
</html>
